# COMS W4111 -- Introduction to Databases, Spring 2025, Lecture 1 Examples

# Notebook Setup

In [1]:
%load_ext sql

In [10]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [3]:
db_url = "mysql+pymysql://root:dbuserdbuser@localhost"

In [4]:
%sql $db_url

## Generative AI

```"Using Sean Lahman's baseball database, write a MySQL query to calculate the career statistics for players, including first and last names, total games (G), at-bats (AB), hits (H), batting average (BA), on-base percentage (OBP) calculated using only hits and walks, slugging percentage (SLG), home runs (HR), and RBIs. Limit the results to players with at least 10,000 career at-bats, sort by batting average in descending order, and return only the top 15 players."```

In [17]:
%%sql

use lahmansbaseballdb;

SELECT
    p.nameFirst AS FirstName,
    p.nameLast AS LastName,
    SUM(a.G_all) AS Games,
    SUM(b.AB) AS AtBats,
    SUM(b.H) AS Hits,
    ROUND(SUM(b.H) * 1.0 / NULLIF(SUM(b.AB), 0), 3) AS BattingAverage,
    ROUND(
        (SUM(b.H) + SUM(b.BB)) * 1.0 /
        NULLIF(SUM(b.AB) + SUM(b.BB), 0), 3
    ) AS OnBasePercentage,
    ROUND(
        (SUM(b.H) + SUM(b.`2B`) + 2 * SUM(b.`3B`) + 3 * SUM(b.HR)) * 1.0 /
        NULLIF(SUM(b.AB), 0), 3
    ) AS SluggingPercentage,
    SUM(b.HR) AS HomeRuns,
    SUM(b.RBI) AS RBIs
FROM
    People p
JOIN
    Batting b ON p.playerID = b.playerID
JOIN
    Appearances a ON p.playerID = a.playerID
GROUP BY
    p.playerID, p.nameFirst, p.nameLast
HAVING
    SUM(b.AB) >= 10000 -- Limit to players with at least 10,000 at-bats
ORDER BY
    BattingAverage DESC
LIMIT 15; -- Limit the result to the top 15 players

 * mysql+pymysql://root:***@localhost
0 rows affected.
15 rows affected.

[('Ty', 'Cobb', Decimal('72816'), Decimal('274464'), Decimal('100536'), Decimal('0.366'), Decimal('0.429'), Decimal('0.512'), Decimal('2808'), Decimal('46656')),
 ('Ross', 'Barnes', Decimal('4491'), Decimal('21519'), Decimal('7740'), Decimal('0.360'), Decimal('0.389'), Decimal('0.468'), Decimal('54'), Decimal('3114')),
 ('Rogers', 'Hornsby', Decimal('54216'), Decimal('196152'), Decimal('70320'), Decimal('0.358'), Decimal('0.431'), Decimal('0.577'), Decimal('7224'), Decimal('38016')),
 ('Shoeless Joe', 'Jackson', Decimal('18648'), Decimal('69734'), Decimal('24808'), Decimal('0.356'), Decimal('0.417'), Decimal('0.517'), Decimal('756'), Decimal('10990')),
 ('Levi', 'Meyerle', Decimal('2456'), Decimal('11544'), Decimal('4104'), Decimal('0.356'), Decimal('0.360'), Decimal('0.479'), Decimal('80'), Decimal('2224')),
 ('Lefty', "O'Doul", Decimal('11640'), Decimal('39168'), Decimal('13680'), Decimal('0.349'), Decimal('0.410'), Decimal('0.532'), Decimal('1356'), Decimal('6504')),
 ('Cal', 'McVey', Decimal('4770'), Decimal('22617'), Decimal('7821'), Decimal('0.346'), Decimal('0.354'), Decimal('0.447'), Decimal('99'), Decimal('4041')),
 ('Ed', 'Delahanty', Decimal('29392'), Decimal('120160'), Decimal('41552'), Decimal('0.346'), Decimal('0.405'), Decimal('0.505'), Decimal('1616'), Decimal('23456')),
 ('Tris', 'Speaker', Decimal('61424'), Decimal('224290'), Decimal('77308'), Decimal('0.345'), Decimal('0.423'), Decimal('0.500'), Decimal('2574'), Decimal('33638')),
 ('Ted', 'Williams', Decimal('43548'), Decimal('146414'), Decimal('50426'), Decimal('0.344'), Decimal('0.481'), Decimal('0.634'), Decimal('9899'), Decimal('34941')),
 ('Billy', 'Hamilton', Decimal('22316'), Decimal('87962'), Decimal('30296'), Decimal('0.344'), Decimal('0.449'), Decimal('0.432'), Decimal('560'), Decimal('10388')),
 ('Harry', 'Heilmann', Decimal('36482'), Decimal('132379'), Decimal('45220'), Decimal('0.342'), Decimal('0.407'), Decimal('0.520'), Decimal('3111'), Decimal('26163')),
 ('Dave', 'Orr', Decimal('7910'), Decimal('29601'), Decimal('10125'), Decimal('0.342'), Decimal('0.361'), Decimal('0.502'), Decimal('333'), Decimal('5643')),
 ('Babe', 'Ruth', Decimal('55088'), Decimal('184756'), Decimal('63206'), Decimal('0.342'), Decimal('0.472'), Decimal('0.690'), Decimal('15708'), Decimal('48774')),
 ('Dan', 'Brouthers', Decimal('33520'), Decimal('134520'), Decimal('46060'), Decimal('0.342'), Decimal('0.415'), Decimal('0.520'), Decimal('2140'), Decimal('26020'))]

```"Using MySQL and Sean Lahman's baseball database (lahmansbaseballdb), create a new schema called lahmansfast. Copy the People, Batting, and Appearances tables into the new schema using CREATE TABLE ... AS SELECT. After copying, add appropriate primary keys: playerID for the People table, a composite primary key of (playerID, yearID, stint) for the Batting table, and a composite primary key of (playerID, yearID, teamID) for the Appearances table. Additionally, add indexes to optimize queries on Batting.AB and Appearances.G_all. Drop the schema lahmansfast if it already exists before creating it."```

In [22]:
%%sql

-- Step 1: Drop the schema if it already exists
DROP SCHEMA IF EXISTS lahmansfast;

-- Step 2: Create the new schema
CREATE SCHEMA lahmansfast;

 * mysql+pymysql://root:***@localhost
1 rows affected.
1 rows affected.

[]

In [23]:
%%sql

-- Step 3: Create the People table with data and add the primary key
CREATE TABLE lahmansfast.People AS
SELECT * FROM lahmansbaseballdb.People;
ALTER TABLE lahmansfast.People ADD PRIMARY KEY (playerID); -- Assuming playerID uniquely identifies each person

-- Step 4: Create the Batting table with data and add the primary key
CREATE TABLE lahmansfast.Batting AS
SELECT * FROM lahmansbaseballdb.Batting;
ALTER TABLE lahmansfast.Batting 
ADD PRIMARY KEY (playerID, yearID, stint); -- Composite key to uniquely identify each record
-- Add necessary indexes for performance
CREATE INDEX idx_batting_AB ON lahmansfast.Batting (AB);

-- Step 5: Create the Appearances table with data and add the primary key
CREATE TABLE lahmansfast.Appearances AS
SELECT * FROM lahmansbaseballdb.Appearances;
ALTER TABLE lahmansfast.Appearances 
ADD PRIMARY KEY (playerID, yearID, teamID); -- Composite key for uniqueness
-- Add necessary indexes for performance
CREATE INDEX idx_appearances_games ON lahmansfast.Appearances (G_all);

 * mysql+pymysql://root:***@localhost
19878 rows affected.
0 rows affected.
107429 rows affected.
0 rows affected.
0 rows affected.
107356 rows affected.
0 rows affected.
0 rows affected.

[]

I could continue with example after example.

ChatGPT is remarkably good at __all of the material__ in this course.

If I gave only take home exams and homework assignments, I would be testing ChatGPT instead of students. Many/most of you would not use ChatGPT or generative AI if I did not allow it. But some of you would, and that would put the honorable students at a disadvantage.

## Scenario

I am building an application to help me manage my classes, especially the cloud computing courses.

The primary complexities are:
- Assigning and managing project teams and students on teams.
- Tracking and commenting on project documents.
- Meeting management.
- ... ...

<img src="./course-management-application.jpg" width="700px">

This is primarily an interaction application using multiple databases.


There are some data engineering and analysis problems, however. For example, loading data from CourseWorks.


CourseWorks has an API. I can write code to call the API and extract the information.

## Some Setup